[color]
	ui = true
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
[push]
	default = simple
	followTags = true
[user]
	name = Tim Kurvers
	email = tim@moonsphere.net
	signingkey = E5E6D4ED4C82A59B
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	authors = git shortlog -ns --all
	rob = !git branch --merged | egrep -v \"(^\\*|master)\" | xargs git branch -d
